In [1]:
url = "https://celestrak.com/NORAD/elements/gp.php?GROUP=geo&FORMAT=json"

In [2]:
from urllib import request
from json import loads
from pandas import DataFrame
from sqlalchemy import create_engine

In [3]:
contents = request.urlopen(url).read()
info = loads(contents.decode())
data = list(filter(lambda d: d['OBJECT_NAME'] in ["MEXSAT 3", "MORELOS 3"], info))

In [4]:
df = DataFrame(data)

In [5]:
df

,OBJECT_NAME,OBJECT_ID,EPOCH,MEAN_MOTION,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,EPHEMERIS_TYPE,CLASSIFICATION_TYPE,NORAD_CAT_ID,ELEMENT_SET_NO,REV_AT_EPOCH,BSTAR,MEAN_MOTION_DOT,MEAN_MOTION_DDOT
0,MEXSAT 3,2012-075B,2020-06-25T12:00:21.428928,1.002712,0.000208,0.0129,69.1754,25.8211,244.3851,0,U,39035,999,2729,0,-2.400000e-07,0
1,MORELOS 3,2015-056A,2020-06-25T12:00:51.577344,1.002721,0.000289,4.8070,328.6830,183.4491,189.0713,0,U,40946,999,1740,0,-4.100000e-07,0

In [7]:
engine = create_engine('sqlite:///tles.db', echo=False)

In [8]:
df.to_sql('tles', con=engine)
engine.execute("SELECT * FROM tles").fetchall()

[(0, 'MEXSAT 3', '2012-075B', '2020-06-25T12:00:21.428928', 1.0027116, 0.000208, 0.0129, 69.1754, 25.8211, 244.3851, 0, 'U', 39035, 999, 2729, 0, -2.4e-07, 0),
 (1, 'MORELOS 3', '2015-056A', '2020-06-25T12:00:51.577344', 1.00272095, 0.0002885, 4.807, 328.683, 183.4491, 189.0713, 0, 'U', 40946, 999, 1740, 0, -4.1e-07, 0)]

In [9]:
engine.execute("SELECT OBJECT_ID FROM tles").fetchall()

[('2012-075B',), ('2015-056A',)]